/* CSS declarations go here */

body {
    margin-top: 80px;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    position: absolute !important;
    top: 40px;
    left: 0;
    width: 100%;
    height: 100%;
}
