/* CSS declarations go here */

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    position: relative;
    padding-top: 60px;
}

#main-container {
    position: relative;
    padding-top: 60px;
}

.clickable {
    cursor: pointer;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.footer p {
    margin: 20px 0;
    text-align: center;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}
