
<head>
    <title> Settings</title>    
</head>

<template name="page_channel_settings">

        <ul>
<h1 style="font-size:60px; padding-bottom:50px;"> These are your settings!</h1>
    </ul>
    
    <div class="list-group">
  <a href="#" class="list-group-item active">
    <h4 class="list-group-item-heading" style="padding-top:10px;">Pick a setting to change!</h4></a>
        
  <a href="google.com">  <p class="list-group-item-text" style="padding-bottom:10px; padding-top:20px; ">Change password:</p> </a>
        
  <a href="google.com">  <p class="list-group-item-text" style="padding-bottom:10px; padding-top:10px;">Change group name:</p> </a>  

<a href="google.com">  <p class="list-group-item-text" style="padding-bottom:10px; padding-top:10px;">Add members</p> </a>

<a href="google.com">  <p class="list-group-item-text" style="padding-bottom:10px; padding-top:10px;">Remove members</p> </a>
        
<a href="google.com">  <p class="list-group-item-text" style="padding-bottom:10px; padding-top:10px;">pennapps</p> </a>

<a href="google.com">  <p class="list-group-item-text" style="padding-bottom:10px; padding-top:10px;">pennapps</p> </a>

<a href="google.com">  <p class="list-group-item-text" style="padding-bottom:10px; padding-top:10px;">pennapps</p> </a>

<center>
<i class="fa fa-plus fa-5x"></i>
</center>
</div>