<template name="page_channels">
    {{#contentFor "title"}} Flare {{/contentFor}}

    {{#unless currentUser}}
    <div class="well">
        <p class="text-muted text-center">
            {{> loginButtons}} to make your own channels.

        </p>
    </div>
    {{/unless}}

    {{#if location}}
        {{#if currentUser}}
            <form id="channel-add">
                <div class="input-group">
                    <span class="input-group-addon">/</span>
                    <input type="text" class="form-control" placeholder="New channel" name="name">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit">
                            <span class="fa fa-plus fa-lg"></span>
                        </button>
                    </span>
                </div>
            </form>
        {{/if}}

        <br>
        <div class="list-group">
            {{#each channels}}
                <a href="/{{name}}" class="list-group-item">
                    <div class="list-group-item-text">
                        <h3>/{{name}}</h3>
                        <p class="text-muted">
                            {{join members}}
                        </p>
                    </div>
                </a>
            {{/each}}
        </div>
    {{else}}
        <div class="text-center">
            <span class="fa fa-circle-o-notch fa-spin fa-5x text-primary"></span>
            <h2>Hang tight, Flare is loading...</h2>
        </div>
    {{/if}}

</template>
