<template name="page_channels">

    <div class="input-group">
        <input type="text" class="form-control" placeholder="New channel">
        <span class="input-group-btn">
            <button class="btn btn-primary" type="button">
                <span class="fa fa-plus fa-lg"></span>
            </button>
        </span>
    </div>

    <br>

    <div class="list-group">
        <a href="/pennapps" class="list-group-item">
            <p class="list-group-item-text">
                /pennapps
            </p>
        </a>
        <a href="#" class="list-group-item">
            <p class="list-group-item-text">
                /philly
            </p>
        </a>
        <a href="#" class="list-group-item">
            <p class="list-group-item-text">
                /hackteam
            </p>
        </a>
    </div>

</template>
