<template name="page_channel_settings">
    <h2>Settings for {{name}}</h2>

    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-2 control-label">Channel name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="name" value="{{name}}">
            </div>
        </div>

        <div class="well">
            <ul class="list-group">
                <li class="list-group-item">
                    alimalik
                    <span class="pull-right">
                        <span class="fa fa-remove fa-lg text-danger clickable"></span>
                    </span>
                </li>
            </ul>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Add member" id="member-add-name">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" id="member-add">
                        <span class="fa fa-plus fa-lg"></span>
                    </button>
                </span>
            </div>

        </div>

        <br>

        <button type="submit" class="btn btn-primary btn-block">
            Save
        </button>
    </form>
</template>
